<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank Transfer</title>
    </head>
    <body>
		<h2>Confirm transaction</h1>
        <table>
		  <tr>
		    <th style="text-align:left">From: <td>{{user.username}} 
		  <tr>
		    <th style="text-align:left">To:  <td>{{request.session.to}}
		  <tr>
		    <th style="text-align:left">Amount:  <td>{{request.session.amount}}
		</table>
		<br/>
		Are you sure?
        
        <!-- FLAW 5 -->
        <!-- A01:2021 Broken Access Control (post/get): The money transfer is implemented with
             a GET request, which allows anyone to trigger the URL directly.-->
        
        <!-- FLAW 6 -->
        <!-- A05:2021 Security Misconfiguration (csrf): The request is not protected with
             CSRF tokens, enabling an attacker to force the user into making an unintended transfer.-->

        <form action='/confirm/' method="GET">
            <input type="submit" value="Yes"/>
        </form>
        <form action='/' method="GET">
            <input type="submit" value="No"/>
        </form>
        
        <!-- FIX (commented):-->
        <!-- <form action='/confirm/' method="post">
            {% csrf_token %}
            <input type="submit" value="Yes"/>
        </form>
        <form action='/' method="post">
            {% csrf_token %}
            <input type="submit" value="No"/>
        </form> -->
        
    </body>
</html>
