<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank Transfer</title>
    </head>
    <body>
		<h2>Confirm transaction</h1>
        <table>
		  <tr>
		    <th style="text-align:left">From: <td>{{user.username}} 
		  <tr>
		    <th style="text-align:left">To:  <td>{{request.session.to}}
		  <tr>
		    <th style="text-align:left">Amount:  <td>{{request.session.amount}}
		</table>
		<br/>
		Are you sure?

        <!-- FLAW 5 -->
        <!-- A01:2021 Broken Access Control (post/get): The money transfer is implemented with
             a GET request, which allows anyone to trigger the URL directly.-->

        <!-- FLAW 2 -->
        <!-- A05:2021 Security Misconfiguration (csrf): The confirmation endpoint is not protected
             with CSRF tokens, allowing an attacker to trick the user into making an unintended transfer.-->

        <!-- BAD (commented):-->
        <form action='/confirm/' method="get">
            <input type="hidden" name="to" value="{{ request.session.to }}">
            <input type="hidden" name="amount" value="{{ request.session.amount }}">
            <input type="submit" value="Yes"/>
        </form>
        <form action='/' method="get">
            <input type="submit" value="No"/>

        <!-- FIX (commented): -->
        <!--<form action='/confirm/' method="post">
            {% csrf_token %}
            <input type="submit" value="Yes"/>
        </form>
        <form action='/' method="post">
            {% csrf_token %}
            <input type="submit" value="No"/>
        </form> -->
        </form>
    </body>
</html>
